.container{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(50, 226, 44, 0.4);
    border-radius: 10px;
}

.label{
    display: flex;
    flex-direction: column;
}

.label input{
    margin-bottom: 5px;
    width: 250px;
    outline: none;
}

.label label{
    margin-bottom: 5px;
}